div {
    display: inline-block;
    width: 30%;
    margin-left: 2px;
    vertical-align: top;
}
h1 {
    text-align: center;
    color: blue;
}
p {
    color: darkviolet;
}
li {
    border: solid;
    border-color: yellow;
}
span {
    border: dotted;
    border-color: cyan;
}